<mat-drawer-container class="container">

    <mat-drawer #drawer mode="side" opened>
        <mat-nav-list>
            <mat-list-item routerLink="/compras/home">Home</mat-list-item>
            <mat-list-item routerLink="/admin/estados/list">Controle de Estado</mat-list-item>
            <mat-list-item routerLink="/admin/categorias/list">Controle de Categoria</mat-list-item>
            <mat-list-item routerLink="/admin/cidades/list">Controle de Cidade</mat-list-item>
            <mat-list-item routerLink="/admin/especies/list">Controle de Espécie</mat-list-item>
            <mat-list-item routerLink="/admin/produtos/list">Controle de Produtos</mat-list-item>
            <mat-list-item routerLink="/admin/racas/list">Controle de Raça</mat-list-item>
            <mat-list-item routerLink="/admin/usuarios/list">Controle de Usuário</mat-list-item>
            <mat-list-item routerLink="/admin/metodos-recebimento/show">Métodos de Recebimento</mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>