<div class="header" style="height: 11%;">
    <mat-toolbar style=" height: 55%; background-color: white;">
        <span class="spacer"></span>
        <div class="flex-container">
            <button (click)="clickMenu()" mat-icon-button class="example-icon"
                aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="logo">
                <a class="unstyled-link">
                    <img src="../../../../assets/images/logo.png" alt="Logo do sistema" class="imagem-responsiva">
                </a>
            </div>
            <span class="example-spacer"></span>
            <span *ngIf="isAdminRoute" class="toolbar-title">ADMINISTRADOR</span>

          <div *ngIf="!isAdminRoute" class="filter-container">
            <mat-form-field appearance="outline" class="full-width-input">
              <mat-label>Pesquisar</mat-label>
              <input [(ngModel)]="filtro" (keyup)="onEnterKey($event)" matInput placeholder="Ex. Ração" #input>
            </mat-form-field>

            <button mat-icon-button color="primary" class="search-button" (click)="aplicarFiltro()">
              <mat-icon id="icon">search</mat-icon>
            </button>
          </div>
          <span class="example-spacer"></span>
            <button routerLink="/compras/carrinho" mat-icon-button class="demo-section example-icon favorite-icon"
                aria-label="Example icon-button with heart icon" style="margin-right: 10px;">
                <mat-icon [matBadge]="qtdItensCarrinho" matBadgeColor="warn" matBadgePosition="after"
                    matBadgeOverlap="false" aria-hidden="false">shopping_cart</mat-icon>
            </button>
            <button type="button" class="profile-button">
                <img src="../../../../assets/images/icon_profile.png" alt="Pefil do usuário"
                    class="imagem-responsiva profile" />
            </button>
        </div>
    </mat-toolbar>
    <mat-toolbar style="background-color: var(--default-purple); height: 45%;">
        <span class="header-rote"></span>
    </mat-toolbar>
</div>
