.full-width-input {
    width: 100%;
    margin-bottom: 20px;
}

mat-card {
    max-width: 1250px;
    margin: 2rem auto;
    box-shadow: none;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
}

.sub-form {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: space-between;
}

.add-telefone {
    justify-content: flex-end;
}

.centered-toolbar {
    display: flex;
    justify-content: center;
    font-size: x-large;
}

button[mat-raised-button] {
    width: 120px;
    font-size: 12px;
}

button[mat-raised-button]:not(:last-child) {
    margin-right: 1rem;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.toolbar-title {
    flex: 1;
    text-align: start;
    font-size: 28px;
}

.pagina {
    max-width: 1250px;
    width: 1250px;
    margin: 2rem auto;
}

mat-toolbar {
    background-color: white;
    padding-left: 5px;
}

#add-telefone-button {
    width: 200px;
}

#remove-telefone-button {
    width: 150px;
}

.input-telefone-numero {
    width: 60%;
}

.input-telefone-codigoArea {
    width: 25%;
}

#button-add-telefone {
    color: rgb(30, 30, 30);
    background-color: transparent;
    box-shadow: none;
}