<mat-card>
  <div>
    <mat-toolbar>
      <div class="flex-container">
        <span class="toolbar-title"> Histórico de Métodos de Recebimento </span>
      </div>
    </mat-toolbar>
  </div>
  <mat-tab-group [selectedIndex]="getSelectedTabIndex()" (selectedTabChange)="onTabChange($event)">
    <mat-tab class="conteinerBoleto" label="Boleto">
      <app-boleto-recebimento-list></app-boleto-recebimento-list>
    </mat-tab>
    <mat-tab label="Pix">
      <app-pix-recebimento-list></app-pix-recebimento-list>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<button mat-raised-button style="color: var(--default-green);"
        id="buttonVoltar"
        routerLink="/metodos-recebimento/show">
  VOLTAR
</button>
