<div *ngFor="let endereco of enderecos.controls; let i = index" class="endereco-container">
  <mat-card class="mat-card">
    <mat-card-title>{{endereco.value.titulo}}</mat-card-title>
    <mat-card-content>
      {{endereco.value.cep}} - {{endereco.value.logradouro}}, {{endereco.value.bairro}},
      {{endereco.value.complemento}} <span *ngIf="endereco.value.complemento !== null && endereco.value.complemento !== undefined">,</span>
      {{endereco.value.numero}} {{endereco.value.municipio}} {{endereco.value.estado}}
    </mat-card-content>
  </mat-card>
  <button mat-mini-fab extended (click)="openConfirmationDialog(endereco.value)" id="button-remove-endereco" class="remove-button">
    <mat-icon>clear</mat-icon>
  </button>
</div>
<div class="sub-form add-endereco">
  <button mat-fab extended (click)="adicionarEndereco()" style="margin-top: 1rem;" id="button-add-endereco">
    <mat-icon>add_circle_outline</mat-icon>
    Adicionar Endereço
  </button>
</div>
