mat-card {
    max-width: 1397px;
    margin: 2rem auto;
    box-shadow: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.page-title {
    background-color: white;
    border-bottom: 1px solid gray;
}

.toolbar-title {
    font-size: large;
    font-weight: 400;
}

button[mat-raised-button] {
    width: 90px;
    font-size: 12px;
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card {
    width: 100%;
    height: 100px;
    border: 1px solid rgb(188, 185, 185);
    margin: 0;
    border-radius: 5px;
    align-items: center;
    padding: 19px;
    gap: 5px;
    justify-content: space-between;
}

.main {
    align-items: center;
    margin-top: 33px;
}

.pedido {
    margin: 5px 15px;
    width: 94.2%;
    height: 122px;
}

.pedido>h3 {
    font-size: small;
    font-weight: 500;
}

section {
    font-size: smaller;
}

.pagamento {
    height: 165px;

}

.stepper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.step-circle {
    width: 36px;
    height: 36px;
    border: 1px solid rgb(32, 31, 31);
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(32, 31, 31);
    font-weight: bold;
    position: relative;
}

.line {
    width: 17%;
    height: 1px;
    background-color: rgb(32, 31, 31);
    margin: 0px 5px 20px 5px
}

.etapas {
    border: none;
    width: 94.2%;
}

.completed {
    background-color: var(--default-green);
    color: white;
    border: none;
}

section>p {
    margin-bottom: 3px;
}

.card>h3 {
    margin-bottom: 10px;
}

.product-list {
    margin: 5px;
    width: 100%;
    align-items: flex-start;
    border-radius: 5px;
    gap: 10px;
    max-height: 300px;
    padding: 1%;
    border: 1px solid rgb(188, 185, 185);
    overflow-y: auto;
}

#product-image {
    width: 100px;
    height: 100%;
    object-fit: cover;
}

.text-card {
    align-items: flex-start;
    justify-content: center;
    padding: 5px;
    width: 100%;
}

.text {
    font-size: smaller;
    margin: 0;
}

.text-footer {
    padding-left: 0;
    font-size: small;
    gap: 10px;
    margin-top: 13px;
    width: 100%
}

.text-footer>.mat-mdc-card-content {
    display: block;
    padding: 0 16px;
    width: 100%;
}

#title {
    padding-top: 0px;
}

.text-card > h3 {
    margin-bottom: 0;
    font-weight: 500;
}

.status {
    font-weight: 500;
margin-bottom: 10px;
}