
.full-width-input {
    width: 100%;
    margin-bottom: 20px;
}

mat-card {
    max-width: 1250px;
    margin: 2rem auto;
    box-shadow: none;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
}

.centered-toolbar {
    display: flex;
    justify-content: center;
    font-size:x-large;
}

button[mat-raised-button] {
    width: 120px;
    font-size: 12px;
    /* tamanho do botao */
}

button[mat-raised-button]:not(:last-child) {
    margin-right: 1rem;
    /* Adiciona margem à direita de todos os botões, exceto o último */
}


img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.centered-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 20px;
}

.responsive-grid {
    display: grid;
    gap: 20px;
}

button[mat-flat-button] {
    background-color: var(--default-green);
    color: white;
    width: 100%;
    padding: 16px;
  }

.toolbar-title {
    flex: 1;
    text-align: start;
    font-size: 28px;
}

.sub-form {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-2-equals-parts {
    width: 49%;
}

mat-toolbar {
    background-color: white;
    padding-left: 5px;
}