/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --default-purple: #802475;
    --default-green: #41C26A;
}
  
.no-shadow {
box-shadow: none !important;
}
  
.rounded-corners {
border-radius: 4px;
}
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
